.ingreso_info{
    background-color: rgb(43, 122, 128);
}
.egreso_info{
    background-color: rgb(133, 27, 27);
}
.bg-presupuesto {
    background-color: #b61724;
    font-family: 'helvetica neue';
    background: url(../../../assets/bg-pattern.png), #ac1025;
    background: url(../../../assets/bg-pattern.png), -webkit-gradient(linear, right top, left top, from(#2196F3), to(#009688));
    background: url(../../../assets/bg-pattern.png), linear-gradient(to left, #531061, #b41d25)
  }