<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="container egresos-bg mt-4 mb-4 p-3">
        <div class="row">
          <div class="col">
            <span class="egresosLabel h5">EGRESOS</span>
          </div>
        </div>
        <div class="row ingresos egreso_salario_monto">
          <div class="col-md-6 text-start p-2">
            <span>Salario</span>
          </div>
          <div class="col-md-5 text-end p-2 text-danger">
            <span>$4000000</span>
          </div>
          <div class="col-md-1 text-center p-2 text-danger">
            <span class="porcentaje">20% </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
